@model Dictionary<string, int>;

<h1>Стасистика количества человек по странам отдыха.</h1>
<hr />

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a asp-action="Profile">Мой профиль</a></li>
            <li class="nav-item"><a asp-action="MyOrders">Мои заказы</a></li>
            <li class="nav-item"><a asp-action="Stat">Статистика</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <table class="table">
            <tr>
                <td>Страна</td>
                <td>Количество человек</td>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Key</td>
                    <td>@i.Value</td>
                </tr>
            }
        </table>
    </div>
</div>